[submodule "libkrun"]
	path = libkrun
	url = git@github.com:smol-machines/libkrun.git
[submodule "libkrunfw"]
	path = libkrunfw
	url = git@github.com:smol-machines/libkrunfw.git
[submodule "smolvm-sdk"]
	path = smolvm-sdk
	url = git@github.com:smol-machines/smolvm-sdk.git
[submodule "smolbench"]
	path = smolbench
	url = git@github.com:smol-machines/smolbench.git
